[Desktop Entry]
Encoding=UTF-8
Name=unocoin
Comment=unocoin P2P Cryptocurrency
Comment[fr]=unocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=unocoin, eşten eşe kriptografik sanal para birimi
Exec=unocoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/unocoin;
Categories=Office;Finance;
